#first{margin-left: 80%;background-color: rgb(107, 191, 255);border: 2px solid black}
.ins1{ width: 5px; height: 5px; border: 1px solid black}

#second{margin-left: 50%; border: 2px solid black}
.ins2{ width: 5px; height: 5px; border: 1px dotted black}