#header{text-align: center; color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px}
#headBackground{background-color: black;height: 50px;}
#button{position: absolute; margin-left: -20%;margin-top: 25px;color: black}
